<section>
  <.greet messenger={@messenger} />
</section>

<%#
The <%= > syntax means that the code inside will be executed and displayed. Remove '=' and the result of the code will not be displayed 
%>